<div class="text-gray-800 text-[18px] leading-relaxed space-y-12 ">

    <!-- Tarifs -->
    <section>
        <h2 class="font-display text-[26px] text-vert-sauge font-bold mb-4">Tarifs & réservation</h2>
        <p>💰 Le séjour est proposé à <strong>900 € par personne</strong>.</p>
        <p>🔒 Un acompte de <strong>360 €</strong> est demandé pour valider l’inscription.</p>
        <p>💵 Le solde est à régler par virement 10 jours avant le voyage.</p>
    </section>

    <!-- Infos pratiques -->
    <section>
        <h2 class="font-display text-[26px] text-vert-sauge font-bold mb-4">Infos pratiques</h2>
        <ul class="list-disc list-inside space-y-2">
            <li>Passeport en cours de validité obligatoire</li>
            <li>Aucun vaccin requis</li>
            <li>Assurance voyage recommandée</li>
            <li>Pour votre confort, merci de privilégier un sac souple (sac de rando, de voyage…). Les valises rigides
                ne sont pas adaptées à ce type de séjour.</li>
        </ul>
    </section>

    <!-- Dates -->
    <section>
        <h2 class="font-display text-[26px] text-vert-sauge font-bold mb-4">Prochain départ confirmé</h2>
        <p class="text-gray-800 text-[18px] leading-relaxed">
            📅 <strong>Départ depuis Marrakech :</strong> le <strong>dimanche 26 octobre 2025</strong> à 7h30
            <br />
            🕓 <strong>Retour :</strong> le <strong>samedi 1er novembre 2025</strong> en fin de journée
        </p>

        <p class="mt-4 text-gray-800 text-[18px] leading-relaxed">
            ⚠️ Merci de prévoir votre arrivée à Marrakech la veille, le <strong>samedi 25 octobre</strong>.
            Nuit dans un Riad à votre charge (recommandations disponibles).
        </p>
    </section>

</div>