<section class="bg-beige">
    <div class="max-w-screen-xl mx-auto px-4 min-h-[88.65vh] flex items-center">
        <div class="w-full border border-vert-sauge/40 rounded-2xl shadow-lg p-10 lg:p-14 bg-sable backdrop-blur-sm">
            <div class="flex flex-col lg:flex-row items-center gap-10">
                <!-- Texte à gauche -->
                <div class="lg:w-2/3 space-y-6 text-[18px] leading-relaxed">
                    <h2 class="font-display text-[32px] text-vert-sauge font-bold text-center lg:text-center">
                        Qui suis-je ?
                    </h2>

                    <p>
                        Il y a 20 ans, dans le cadre d’une reconversion professionnelle, j’ai suivi une formation de
                        sophrologue auprès de l’institut ISO à Toulouse. Cinq ans plus tard, je suis également devenu
                        moniteur d’escalade.
                    </p>

                    <p>
                        Il y a 12 ans, j’ai obtenu un nouveau diplôme qui m’a permis de devenir professeur de pilates et
                        de stretching au CREPS de Toulouse.
                        <br /><br />En complément de la sophrologie, j’ai ensuite suivi une
                        formation d’hypnothérapeute, que je pratique aujourd’hui parallèlement à mon activité.
                    </p>

                    <p>
                        Au fil du temps, une passion profonde s’est imposée : les treks dans le désert et les sommets de
                        l’Atlas.
                    </p>

                    <p>
                        Je conçois ces voyages comme des parenthèses de reconnexion, portées par une structure locale
                        fidèle à mes
                        valeurs.
                        C'est cette passion qui m'a conduit à créer Instants Nomades, initiateur de cette aventure
                        intérieure.
                    </p>

                    <!-- Signature -->
                    <div class="text-right italic font-handwritten text-vert-sauge text-[24px] pr-2">
                        M. Picas
                    </div>
                </div>

                <!-- Image -->
                <div class="lg:w-1/2 flex justify-center">
                    <img src="../../../assets/michel-portrait-zoom.jpg" alt="Michel dans le désert"
                        class="rounded-xl max-w-[275px] w-full h-auto object-cover shadow-lg border border-vert-sauge/40" />
                </div>
            </div>
        </div>
    </div>
</section>